<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f7f7f7;
        }
        .login-container {
            max-width: 400px;
            margin: 50px auto;
            padding: 20px;
            background-color: white;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }
        .form-group {
            margin-bottom: 1rem;
        }
        .login-btn {
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="login-container">
        <h3 class="text-center">Login MyBus</h3>
        <form th:action="@{/login}" method="post">
            <div class="form-group">
                <label for="username">Email</label>
                <input type="username" class="form-control" id="username" name="username" placeholder="Enter Email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" required>
            </div>
            <button type="submit" class="btn btn-primary login-btn">Login</button>
            <div class="text-center mt-3">
                <a href="#" th:href="@{/busregistration}">Don't have an account? Register here</a>
            </div>
        </form>
    </div>
</body>
</html>
